.title {
	background-color:#f1f1f1;
	padding:10px;
	border-bottom:#ddd 1px solid;
}

.container {
  width: 410px;
}

.center {
  text-align: center;
}

.controls input {
  height: 28px;
}

.logo {
  padding-left: 30px;
}

.copy {
  border-top: 1px solid #ccc; 
  padding: 5px 0px;
}

.padded {
  padding: 0px 10px;
}